<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Insta Clone Firebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>940E79C2225C8E83001A52DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940E79D8225C8E83001A52DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940E79E3225C8E83001A52DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
