<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533251623247-sbm8u1smsn490n59r386g2vam1jrep0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533251623247-sbm8u1smsn490n59r386g2vam1jrep0c</string>
	<key>API_KEY</key>
	<string>AIzaSyB6H18hK4RuY6LSrsvLuv-5_RaLOTJLjSU</string>
	<key>GCM_SENDER_ID</key>
	<string>533251623247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peternjenkin.Insta-Clone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-firebase-5c312</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-firebase-5c312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533251623247:ios:671f0212a4611346</string>
	<key>DATABASE_URL</key>
	<string>https://insta-clone-firebase-5c312.firebaseio.com</string>
</dict>
</plist>